.app {
  background-color: #dbfbfa;

  height: 700px;
  text-align: center;

  position: relative;

  &.asleep {
    background-color: #000000;

    color: white;

    button {
      color: white;
      border-color: white;
    }
  }
}

header {
  padding: 1rem;
  display: flex;

  h1 {
    margin: 0;
    flex-grow: 1;
  }

  button {
    font-size: 1em;
    background: none;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.3rem;
    cursor: pointer;
    width: 7rem;

    svg {
      margin-right: 0.3rem;
    }
  }
}

.duck img {
  width: 24rem;
}