.app {
  background-color: #dbfbfa;

  height: 600px;
  text-align: center;

  position: relative;
  background-size: cover;
}

.app.asleep {
  background-color: #000000;

  color: white;
}

.app.asleep button {
  color: white;
  border-color: white;
}

header {
  padding: 0.8rem 0.6rem;
  display: flex;
}

header h1 {
  margin: 0;
  flex-grow: 1;
}

header button {
  font-size: 1em;
  background: none;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
  width: 7rem;
}

header button svg {
  margin-right: 0.3rem;
}

.duckImage {
  height: 24rem;
  width: 24rem;
  position: relative;
  margin: 0 auto;
}
.duckImage img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24rem;
}